html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.cuadrado{
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: red;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: cuadradoAnimacion;
    animation-direction: alternate;
    
}

@keyframes cuadradoAnimacion {
    0%{
    margin: 0;
    }

    25% {
        
        top: 0;
        margin-left: 90%;
    }

    50% { 
        top:80%;
        margin-left: 90%;
    }

    75% {
        top:80%;
        margin-left: 0%;
        
    }

    100%{
       top: 0px;
    }
}

