/* link */
a:link {
    color: teal;
    font-size: 48px;
    text-decoration: none;
}

a:visited {
    color: steelblue;
}

.container {
  width: 250px;
  height: 250px;
  background-color: coral;
}

/* imagen con hover */
.test {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.test img {
    width: 100%;
    height: 50%;
}

.test:hover {
  opacity: 1;
}

/* boton */
.loginButton {
    background-color: rgba(156, 14, 14, 0.767);
    border-radius: 16px;
    border: 0;
    padding: 12px 24px;
    color: white;
}

.loginButton:hover {
    background-color: whitesmoke;
    color: rgba(156, 14, 14, 0.767);
}

/* jugador de futbol */
.card {
  margin-top: 200px;
  width: 550px;
  height: 550px;
  background-image: url(https://media.contentapi.ea.com/content/dam/gin/images/2020/06/fifa21-keyart-horizontal-16x9.png.adapt.crop1x1.767w.png);
  background-size: cover;
}

.darkBackground {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkBackground img {
  width: 250px;
  height: 250px;
  opacity: 0;
}

.darkBackground:hover {
 background-color: rgba(0, 0, 0, 0.363);
}

.darkBackground:hover img {
  opacity: 1;
  width: 350px;
  height: 350px;
}


/* card de informacion */
.redCard {
  margin: 150px 0;
  width: 350px;
  height: 550px;
  background-color: whitesmoke;
}

.redCard:hover {
 box-shadow: 0px 10px 50px -7px #000000b7;
 transform: translateY(-20px);
}

.redCard img {
  width: 100%;
  height: 230px;
}

.redCardContent {
  display: flex;
  padding: 24px;
}

.contentTitle {
  color: #FF4747;
}

.contentTitle span {
  color: black;
  margin-left: 20px;
}