body, html{
    margin: 0;
    padding: 0;
}

.portada{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("fondo.jpg");
    background-size: cover;
    flex-direction: column;
}

.portada h1 {
    color: white;
    font-size: 3rem;
}


.descripcion{
    width: 400px;
}

.portada p {
    color: white;
}

.contenedor {
    background-color: gray;
    margin-top: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card{
    width: 50%;
    height: auto;
    margin: 5px;
    background-color: white;

}
.card img {
    padding: 10px;
    width: 100px;
    height: 100px;
}

.card p {
    padding: 10px;
}


@media screen and (max-width: 1200px) {

    .portada button {
        width: 150px;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 30px;
        color: white;
        background-color: rgb(185, 56, 33);
        border-radius: 15px;
    }
}



