/* estilos generales de etiquetas */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  /* font-style: italic; */
}

h1 span {
  color: rgb(28, 145, 240);
}

h3 {
  color: rgb(28, 145, 240);
  margin-bottom: 32px;
  margin-top: 32px;
  font-size: 24px;
}

/* estilos personalizados */
.wrapper1 {
  width: 60%;
  background-color: rgb(245, 240, 240);
  padding: 48px;
}

.wrapper2 {
  width: 40%;
  padding: 48px;
  background-color: rgb(216, 230, 231);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
}

.profession {
  font-weight: 300;
}

.header {
  margin-bottom: 80px;
}


.avatar {
  width: 220px;
  height: 220px;
  border-radius: 150px;
  border: 3px solid rgba(22, 112, 196, 0.897);
}
/* unidades de medida: %, px, vh, vw */
