/* estilos generales de etiquetas */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  /* font-style: italic; */
}

h1 span {
  color: rgb(28, 145, 240);
}

h3 {
  color: rgb(28, 145, 240);
  margin-bottom: 32px;
  margin-top: 32px;
  font-size: 24px;
}

li {
  list-style-type: none;
}

li a img{
  width: 25px;
  height: 25px;
}

a:link, a:visited { 
  color: black;
  text-decoration: none;
}

/* estilos personalizados */
.wrapper1 {
  width: 100%;
  padding: 0;
  background-color: rgb(245, 240, 240);
}

.wrapper2 {
  width: 100%;
  padding: 0;
  background-color: rgb(216, 230, 231);
}

.container {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  width: 100%;
}

.profession {
  font-weight: 300;
}

.header {
  margin-bottom: 80px;
}

.avatar {
  width: 220px;
  height: 220px;
  border-radius: 150px;
  border: 3px solid rgba(22, 112, 196, 0.897);
}

.interests ul li {
  list-style: none;
  margin: 0;
  margin-left: 25px;
}

.interests ul li:first-child {
  margin: 0;
}

.interests ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.skills ul li {
  display: flex;
  align-items: center;
}

.bar {
  margin-left: 10px;
  background-color: blue;
  width: 250px;
  height: 5px;
  border-radius: 8px;
  position: relative;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 70px;
  position: absolute;
  top: -5px;
  left: 80%;
  background-color: blue;
}

.secondCircle {
  left: 50%;
}

.other {
  left: 20%;
}

.contact div ul {
  display: flex;
}

.skill {
  display: flex;
  align-items: center;
}

.skill span {
  width: 150px;
}

.icon a i {
  font-size: 25px;
}

/* tablet */
@media screen and (min-width: 420px) {

}

/* desktop */
@media screen and (min-width: 720px) {
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
  }

  .wrapper1 {
    width: 80%;
    padding: 48px;
  }

  .wrapper2 {
    width: 20%;
    padding: 48px;
    display: flex;
    justify-content: center;
  }
}


/* unidades de medida: %, px, vh, vw */
