
.wrapper {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    height: auto;
    padding: 24px;
    margin: 0 5px;
    background: linear-gradient(180deg, rgba(255,174,43,1) 26%, rgba(255,255,255,1) 100%);
}

.card {
    margin:10px;
    padding:24px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.card img {
    width: 350px;
    height: 350px;
}

.backgroundImage {
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2020/06/fifa21-keyart-horizontal-16x9.png.adapt.crop1x1.767w.png");
}