body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(237, 235, 235);
}

.body {
    display: flex;
}
.nav {
    background-color: white;
    margin: 20px;
    width: 18%;
}

.MainContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.banner {
    margin: 20px;
}
.banner img {
    width: 90%;
}

.imgItem {
    width: 100%;
}

.items{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.items .card {
    background-color: white;
    margin: 10px;
    width: 14rem;
}
.items .card .tag {
    font-weight: bold;
    text-align: right;
    color: red;
}

.items .info {
    margin: 10px;
    font-weight: bold;
}